
body {
    background-color:rgba(0,60,50,0.2);
  }

  h1{text-align:center; color:white;}
  p{text-align:center; color:white;}
  hr{color:white;}
  h3 {text-align:center; color:white; text-decoration: underline; }
  h4 {text-align:center; color:white;}
  h5 {text-align:center; color:white;}
